@model SignalRWebUI.Dtos.BookingDtos.CreateBookingDto
@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımda Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Ad Soyad Giriniz</label>
                                <input type="text" class="form-control" asp-for="Name" id="name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="phone">İletişim Numarası Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">E-mail Adresi Giriniz</label>
                                <input  type="text" class="form-control" asp-for="Mail" id="email">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="personCount">Kişi Sayısını Giriniz</label>
                                <input  type="number" class="form-control" asp-for="PersonCount" id="personCount">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="date">Rezervasyon Tarihini Giriniz</label>
                                <input  type="date" class="form-control" asp-for="Date" id="date">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Rezervasyon Oluştur</button>
                            <a href="/Booking" class="btn btn-warning">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("_NotificationComponentPartial")
