
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Çağrı Kandemir
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="/Register">
								<span class="link-collapse">Yeni Kayıt</span>
							</a>
						</li>
						<li>
							<a href="/Login">
								<span class="link-collapse">Giriş Yap</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index">
					<i class="bi bi-house-fill"></i>
					<p>Siteye Git</p>
				</a>
			</li>			
			<li class="nav-item">
				<a href="/Menu/Index">
					<i class="bi bi-list"></i>
					<p>Menüyü Gör</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category">
					<i class="bi bi-tags-fill"></i>
					<p>Kategoriler</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Product">
					<i class="bi bi-box2-fill"></i>
					<p>Ürünler</p>
					<span class="badge badge-count">50</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About">
					<i class="bi bi-file-person-fill"></i>
					<p>Hakkımda</p>
					<span class="badge badge-count">6</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Booking">
					<i class="bi bi-book"></i>
					<p>Rezervasyonlar</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact">
					<i class="bi bi-telephone-fill"></i>
					<p>İletişim</p>
					<span class="badge badge-danger">25</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Discount">
					<i class="bi bi-gift-fill"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Feature">
					<i class="bi bi-sliders2"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial">
					<i class="bi bi-person-check-fill"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia">
					<i class="bi bi-phone"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistics">
					<i class="bi bi-graph-up-arrow"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTable">
					<i class="bi bi-display"></i>
					<p>Masalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTable/TableListByStatus">
					<i class="bi bi-graph-up"></i>
					<p>Masa Durumları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message">
					<i class="bi bi-chat-left-dots-fill"></i>
					<p>Mesaj Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notifications">
					<i class="bi bi-bell-fill"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars">
					<i class="la la-bar-chart"></i>
					<p>Anlık Durum</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/QRCode/Index">
					<i class="la la-qrcode"></i>
					<p>QR Code</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Mail/Index">
					<i class="bi bi-envelope-fill"></i>
					<p>Mail İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Settings/Index">
					<i class="bi bi-gear-fill"></i>
					<p>Ayarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut">
					<i class="bi bi-box-arrow-left"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut">
					<i class="bi bi-box-arrow-left"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>
