@model List<SignalRWebUI.Dtos.MenuTableDtos.ResultMenuTableDto>
@{
    ViewData["Title"] = "Index";
    Layout = null;
    string color = "";
    string status = "";
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_CustomerTableComponentPartial")
@await Component.InvokeAsync("_UILayoutHeaderComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarComponentPartial")
    <br />
    <br />
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-dark mb-30">
                    <a class="breadcrumb-item text-white" href="/Default/Index">Ana Sayfa</a>
                    <a class="breadcrumb-item text-white" href="/Menu/Index">Masa Listesi</a>
                    <span class="breadcrumb-item active">Masa Seçimi Yapınız</span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row px-xl-5">
            @foreach (var item in Model)
            {
                if (item.Status == true)
                {
                    color = "widgettrue";
                    status = "Masa Boş";
                }
                if (item.Status == false)
                {
                    color = "widgetfalse";
                    status = "Masa Dolu";
                }
                <div class="col-md-3 mb-4">
                    <div class="@color">
                        @if (item.Status == true)
                        {
                            <div class="widget-icon">
                                <a href="/Menu/Index/@item.MenuTableId"><i class="fas fa-chair"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="widget-icon">
                                <a href="/Baskets/Index/@item.MenuTableId"><i class="fa-solid fa-cash-register"></i></a>
                            </div>
                        }
                        <div class="widget-text">
                            <h3>@item.Name</h3>
                            <p>@status</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")

</body>

</html>

