@using SignalRWebUI.Dtos.IdentityDtos
@model LoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <div class="card">
        <div class="form-box">
            <h2>Giriş Yap</h2>
            <form method="post">
            <div class="input-box">
                <input type="text" placeholder="Kullanıcı Adı" asp-for="Username" required id="username">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Şifre" asp-for="Password"required id="password">
            </div>
            <button class="button">Giriş</button>
            <div class="toggle">
                Hesabın yok mu?
                <a href="/Register/Index">Kayıt Ol</a>
            </div>
            </form>
        </div>
    </div>

</body>
</html>