@model SignalRWebUI.Dtos.ContactDtos.CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="location">Konum Giriniz</label>
                                <input type="text" class="form-control" asp-for="Location" id="location">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="phone">iletişim Numarası Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="mail">E-Mail  Giriniz</label>
                                <input type="text" class="form-control" asp-for="Mail" id="mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="footerdespcription">Açıklama Alanı Giriniz</label>
                                <input type="text" class="form-control" asp-for="FooterDespcription" id="footerdespcription">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">İletişim Ekle</button>
                            <a href="/Contact" class="btn btn-warning">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


