@model SignalRWebUI.Dtos.ContactDtos.CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Konum Giriniz</label>
                                <input type="text" class="form-control" asp-for="Location" id="name">
                            </div>
                            <div class="form-group">
                                <label for="phone">İletişim Numarasını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="e-mail">E-Mail Adresini Giriniz</label>
                                <input type="text" class="form-control" asp-for="Mail" id="e-mail">
                            </div>
                            <div class="form-group">
                                <label for="personcount">Açıklama Giriniz</label>
                                <input type="text" class="form-control" asp-for="FooterDespcription" id="personcount">
                            </div>
                            <div class="form-group">
                                <label for="footertitle">Açıklama Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="FooterTitle" id="footertitle">
                            </div>
                            <div class="form-group">
                                <label for="opendays">Hizmet Bilgi Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="OpenDays" id="opendays">
                            </div>
                            <div class="form-group">
                                <label for="opendaysdescription">Hizmet Bilgi Açıklama Giriniz</label>
                                <input type="text" class="form-control" asp-for="OpenDaysDescription" id="opendaysdescription">
                            </div>
                            <div class="form-group">
                                <label for="openhours">Hizmet Saatleri Giriniz</label>
                                <input type="text" class="form-control" asp-for="OpenHours" id="openhours">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">İletişim Ekle</button>
                            <a href="/Contact" class="btn btn-warning">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_NotificationComponentPartial")
