@model SignalRWebUI.Dtos.ProductDtos.UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Ürün Güncelle</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="ProductId" />
                            <div class="form-group">
                                <label for="productname">Ürün Adını Düzenleyiniz</label>
                                <input type="text" class="form-control" asp-for="ProductName" id="productname">
                            </div> 
                            <div class="form-group">
                                <label for="price">Ürün Ücretini Düzenleyiniz</label>
                                <input type="text" class="form-control" asp-for="Price" id="price">
                            </div>
                            <div class="form-group">
                                <label for="categoryname">Ürün Kategorisini Düzenleyiniz</label>
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="status">Ürün Aktif mi?</label>
                                <select asp-for="ProductStatus" class="form-control">
                                    <option value="true">Evet</option>
                                    <option value="false">Hayır</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Ürünü Güncelle</button>
                            <a href="/Product" class="btn btn-warning">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("_NotificationComponentPartial")
