@model SignalRWebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Kategori Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Kategori Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="CategoryName" id="categoryname">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Kategoriyi Ekle</button>
                             <a href="/Category" onclick="ShowAlert()" class="btn btn-warning">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Default.cshtml")

@* <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<!-- jQuery (gereklidir) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
        toastr.options = {
      "closeButton": true,
      "progressBar": true,
      "positionClass": "toast-top-right", // sağ üst köşe
      "timeOut": "2000"
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <text>
                    toastr.error("@TempData["ErrorMessage"]");
        </text>
    }

</script> *@
